aside {
    position: fixed;
    padding: 20px 50px 0 50px;
    width: 400px;
    right: -100%;
    top: 0;
    bottom: 0;
    background-color: #000;
    color: aliceblue;
    transition: .5s ease;
}

dialog {
    width: 600px;
    text-align: center;
    border: 0;
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.x {
    background-color: #fff;
    color: #000;
    font-size: 20px;
    padding: 3px 12px;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.question {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin: 100px auto 0;
    border: 1px solid #000;
    border-radius: 18px;
    padding: 30px 50px;
    background-color: #e9e9e9;
}

.mid {
    height: 60px;
    overflow: hidden;
    cursor: pointer;
}
